<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ROMSly Order Viewer</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
    <!-- NAV BAR -->
    <nav id="toolbar">
        <div class="title-grow">
        <div class="title">ROMSly Order Viewer</div>
        <div class="subtitle">Restaurant Order Management System.</div>
        </div>
        
        <a href="https://github.com/ddinh0411/ROMSly/tree/main/src" class="nav_button" target="_blank">View Code</a>
    </nav>
    <!-- END NAV BAR -->

    <h1>Query MySQL Database</h1>
    <form action="/query" method="post">
        <input type="text" name="data" placeholder="Enter your query data">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
