<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ROMSly</title>
    <script src="https://unpkg.com/blockly/blockly_compressed.js"></script>
    <script src="https://unpkg.com/blockly/blocks_compressed.js"></script>
    <script src="https://unpkg.com/blockly/javascript_compressed.js"></script>
    <script src="https://unpkg.com/blockly/python_compressed.js"></script>
    <script src="https://unpkg.com/blockly/msg/en.js"></script>
    <script src="{{ url_for('static', filename='custom_blocks.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v={{ version }}">

</head>
<body>
    <!-- NAV BAR -->
    <nav id="toolbar">
        <div class="title-grow">
        <div class="title">ROMSly</div>
        <div class="subtitle">Restaurant Order Management System.</div>
        </div>
        
        <a href="https://github.com/ddinh0411/ROMSly" class="nav_button" target="_blank">View Code</a>
    </nav>
    <!-- END NAV BAR -->

    <table>
        <tr>
        <td>
            <p>
                <button onclick="submitOrders()" class="compile_button">Submit Order</button>
                <button onclick="saveBlocks()" class="compile_button">Save Order</button>
                <button onclick="loadBlocks()" class="compile_button">Recall Order</button>
                <button onclick="viewOrders()" class="compile_button">View Orders</button>
                <button onclick="showCode()" class="debug_button">Show Python</button>
                <button onclick="savePython()" class="debug_button">Save Python</button>
                <input accept=".txt" type="file" id="loadInput" style="display: none;" onchange="loadBlocksFile(event)">
            </p>
        </td>
        </tr>
        <tr>
            <td id="blocklyArea">
                
            </td>
        </tr>
    </table>
    
    <div id="blocklyDiv" style="position: absolute"></div>
    <xml id="toolbox" style="display: none">
        <!-- MenuItems Category -->
        <category name="Menu Items" colour="#FF0000">
            <block type="add_menuItem"></block>
            <block type="delete_menuItem"></block>
            <block type="change_menuItem"></block>
            <block type="menuItem"></block>
        </category>
        
        <!-- Orders Category -->
        <category name="Orders" colour="#FFE400">
            <block type="comboItem"></block>
            <block type="customerID"></block>
            <block type="Order"></block>
            <block type="add_Order"></block>
            <block type="delete_Order"></block>
            <block type="change_Order"></block>
        </category>

        <!-- Admin Category -->
        <category name="Admin" colour="#009BFF">
            <block type="restartDB"></block>
        </category>
    </xml>
      
    <script>
        /**
         * From Google Blockly sample code---dynamically resize Blockly to fit window area.
         */
        var blocklyArea = document.getElementById('blocklyArea');
        var blocklyDiv = document.getElementById('blocklyDiv');
        var workspace = Blockly.inject(blocklyDiv,
            {media: 'https://unpkg.com/blockly/media/',
            toolbox: document.getElementById('toolbox')});
        var onresize = function(e) {
            // Compute the absolute coordinates and dimensions of blocklyArea.
            var element = blocklyArea;
            var x = 0;
            var y = 0;
            do {
                x += element.offsetLeft;
                y += element.offsetTop;
                element = element.offsetParent;
            } while (element);
            // Position blocklyDiv over blocklyArea.
            blocklyDiv.style.left = x + 'px';
            blocklyDiv.style.top = y + 'px';
            blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
            blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
            Blockly.svgResize(workspace);

            // console.log('resize');
        };
        window.addEventListener('resize', onresize, false);
        onresize();

        /**
         * Creates an alert displaying generated workspace code.
         */
        function showCode() {
            python.pythonGenerator.INFINITE_LOOP_TRAP = null;
            var code = python.pythonGenerator.workspaceToCode(workspace);   // Workspace to code.
            alert(code);
        }

        /**
         * Generates code from current Blockly workspace,
         * and sends it to Flask backend for evaluation via an HTTP request.
         * Also routes the user to the order display page.
         */
        function submitOrders() {
            // https://stackoverflow.com/questions/27765666/passing-variable-through-javascript-from-one-html-page-to-another-page
            var blocklyPython = python.pythonGenerator.workspaceToCode(workspace);

            // Use the fetch API to send the generated Blockly code to the Flask backend.
            fetch('/query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ variable: blocklyPython }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Server response:', data);

                // Check if there's a redirect instruction in the response data
                if (data.redirect) {
                    // Perform the redirect
                    window.open(data.redirect, '_blank');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        /**
         * Sends a HTTP request to the Flask backend to show the user all orders in the database.
         */
        function viewOrders() {
            window.open("{{ url_for('view') }}",'_blank');
        }

        /**
         * Generates Python code from workspace, and saves to local machine.
         */
        function savePython() {
            var workspaceText = python.pythonGenerator.workspaceToCode(workspace);
            var blob = new Blob([workspaceText], {type: 'text/plain'});
            var a = document.createElement('a');
            a.download = 'ROMSLY.py';
            a.href = URL.createObjectURL(blob);
            a.click();
        }

        /**
         * Serializes the Blockly workspace to JSON, 
         * and stores on local machine in plaintext format.
         */
        function saveBlocks() {
            var json = Blockly.serialization.workspaces.save(workspace);    // Serialize using Blockly API
            jsonString = JSON.stringify(json)   // Convert serialized JSON into string.

            var blob = new Blob([jsonString], {type: 'text/plain'});    // Create Blob with json string.
            var a = document.createElement('a');
            a.download = 'ROMSly_Order.txt';    // Save to local machine.
            a.href = URL.createObjectURL(blob);
            a.click();
        }
        
        /**
         * Calls browser file input to load plaintext file 
         * containing serialized Blockly workspace.
         */
        function loadBlocks() {
            document.getElementById('loadInput').click();   // Prompt user for plaintext file.
        }

        /**
         * Reads JSON from a plaintext file to restore
         * a previously saved Blockly workspace.
         */
        function loadBlocksFile(event) {
            var file = event.target.files[0];   // Get plaintext JSON file.
            var fileReader = new FileReader();
            var textJson = "";

            fileReader.readAsText(file); 
            fileReader.onload = function() {
                textJson = fileReader.result    // Store contents of file as string.
                if (isJsonString(textJson)) {   // If string contains valid JSON
                    loadJson = JSON.parse(textJson);    // Parse string into JSON object.
                    Blockly.serialization.workspaces.load(loadJson, workspace); // Restore blockly workspace with JSON object.
                } else {    // Else alert user file uploaded is not a valid JSON.
                    alert("Not a Valid ROMSly Order!")
                }
            }; 
        }

        // https://stackoverflow.com/questions/3710204/how-to-check-if-a-string-is-a-valid-json-string
        /**
         * Checks if a provided string can be parsed into valid JSON.
         */
        function isJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
    </script>
</body>
</html>