<!-- templates/results.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ROMSly Order Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- NAV BAR -->
    <nav id="toolbar">
        <div class="title-grow">
        <div class="title">ROMSly Order Viewer</div>
        <div class="subtitle">Restaurant Order Management System.</div>
        </div>
        
        <a href="https://github.com/ddinh0411/ROMSly" class="nav_button" target="_blank">View Code</a>
    </nav>
    <!-- END NAV BAR -->
    
    <!-- Container for the Pandas DataFrame -->
    <div id="data-container">
        <!-- DataFrame will be displayed here -->
    </div>

    <script>
        function fetchData() {
            // Use fetch API to request the order panda from the Flask backend.
            fetch('/get_dataframe')
                .then(response => response.text())
                .then(data => {
                    // Update the content with the new DataFrame
                    document.getElementById('data-container').innerHTML = data;
                })
                .catch(error => {
                    console.error("Error:", error);
                })
                .finally(() => {
                    // Schedule the next request after a delay
                    setTimeout(fetchData, 5000);  // 5 seconds in this case.
                });
        }

        // Make the first request, and function will continue on from there.
        fetchData();
    </script>
</body>
</html>