<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ROMSly Order Viewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <!-- NAV BAR -->
    <nav id="toolbar">
        <div class="title-grow">
        <div class="title">ROMSly Order Viewer</div>
        <div class="subtitle">Restaurant Order Management System.</div>
        </div>
        
        <a href="https://github.com/ddinh0411/ROMSly" class="nav_button" target="_blank">View Code</a>
    </nav>
    <!-- END NAV BAR -->

    <!-- https://www.blanchardjulien.com/posts/sql_pyscript/ -->
    <py-config>
        packages = [
            "pandas",
            "numpy",
        ]
        plugins = [
          "https://pyscript.net/latest/plugins/python/py_tutor.py"
        ]
    </py-config>

    <div id="pyscriptArea">
        <py-script>
            import numpy as np
            import pandas as pd 

            def main():
                # print("Starting Evaluation")
                # connectToServer()
                # runBlocklyQueries()
                # cursor = connection.cursor()
                # totalOrders = getNumOrders(cursor)
                # orderListDF = generateOrderTable(connection)
                # display(orderListDF)
                # cursor.close()
                # connection.close()
                print("Python Evaluation Done")

            if __name__ == "__main__":
                main()
        </py-script>
    </div>

    {% set fromFlask = queryResult %}
      
    <script>
        window.onload = function(){loadCode};
        // https://jeff.glass/post/pyscript-js-functions/
        // Getting generated Python code, and passing it into PyScript.
        var codeToRun = localStorage.getItem("pythonCode");
        var queryResult = "{{ fromFlask }}";

        alert(queryResult);

        function loadCode() {
            // https://stackoverflow.com/questions/27765666/passing-variable-through-javascript-from-one-html-page-to-another-page
            // Save code to localStorage, and launch PyScript for execution.
            code = localStorage.getItem("pythonCode");
            return code
        }
    </script>
</body>
</html>
