html, body {
    background-color: #ECEFF1;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 140%;
}

table {
    height: 100%;
    width: 100%;
}

#blocklyArea {
    height: 99%;
    /* background: #fc9;
    text-align: center; */
}

/* These navigation toolbar styles are modified from Google. */
nav#toolbar {
    width: 100%;
    height: 64px;
    padding: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: #2BB4CA;
}

nav#toolbar .title {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-right: 8px;
}

nav#toolbar .subtitle {
    color: #fff;
}

.nav_button {
    border: #fff;
    background-color: white;
    font-weight: bold;
    color: #2BB4CA;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}